@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0a0a0a] text-white;
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* --- Hide Scrollbar for Chrome/Safari/Opera --- */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* --- Hide Scrollbar for IE, Edge and Firefox --- */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* --- Custom Text Selection (Netflix Red) --- */
::selection {
  background-color: #e50914;
  color: white;
}
